{% extends "base.html" %}
{% block content %}

<h2>⚙ Manage FAQ</h2>

<!-- ADD FAQ -->
<div class="card p-3 mb-4">
    <h5>Add New FAQ</h5>

    <form method="POST">
        <input type="text" name="question" class="form-control mb-2" placeholder="Question" required>
        <textarea name="answer" class="form-control mb-2" placeholder="Answer" required></textarea>
        <button class="btn btn-success">Add FAQ</button>
    </form>
</div>

<!-- LIST FAQ -->
<div class="card p-3">
    <h5>All FAQs</h5>

    {% for f in faqs %}
    <div class="border p-2 mb-2 rounded">
        <strong>{{ f.question }}</strong>
        <p>{{ f.answer }}</p>

        <a href="/delete_faq/{{ f.id }}" class="btn btn-danger btn-sm">Delete</a>
    </div>
    {% endfor %}

</div>

{% endblock %}