{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Current Stats</h2>

<div class="row">

<div class="col-md-4">
<div class="card p-3 shadow text-center">
<h5>Total Donations</h5>
<h2>{{ total }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="card p-3 shadow text-center">
<h5>Pending</h5>
<h2>{{ pending }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="card p-3 shadow text-center">
<h5>Completed</h5>
<h2>{{ completed }}</h2>
</div>
</div>

</div>

{% endblock %}