{% extends "base.html" %}
{% block content %}

<div class="card p-4 col-md-5 mx-auto">

<h2>Create Account</h2>

<form method="POST">

<input class="form-control mb-2" name="name" placeholder="Name" required>
<input class="form-control mb-2" name="email" type="email" placeholder="Email" required>
<input class="form-control mb-2" name="password" type="password" placeholder="Password" required>
<input class="form-control mb-2" name="address" placeholder="Address" required>

<select class="form-control mb-3" name="role" required>
<option value="donor">Donor</option>
<option value="volunteer">Volunteer</option>
</select>

<button class="btn btn-success w-100">Register</button>

</form>

</div>

{% endblock %}