{% extends "base.html" %}
{% block content %}

<h2>All Donations</h2>

<table class="table table-bordered">

<tr>
    <th>ID</th>
    <th>Food</th>
    <th>Qty</th>
    <th>Location</th>
    <th>Status</th>
    <th>Donor</th>
    <th>Volunteer</th>
</tr>

{% for d in donations %}
<tr>
    <td>{{ d.id }}</td>
    <td>{{ d.food_type }}</td>
    <td>{{ d.quantity }}</td>
    <td>{{ d.pickup_location }}</td>

    <td>
        {% if d.status == "Pending" %}
            <span class="badge bg-warning">Pending</span>
        {% elif d.status == "Assigned" %}
            <span class="badge bg-info">Assigned</span>
        {% elif d.status == "Accepted" %}
            <span class="badge bg-primary">Accepted</span>
        {% else %}
            <span class="badge bg-success">Distributed</span>
        {% endif %}
    </td>

    <td>{{ d.donor.name }}</td>

    <td>
        {% if d.volunteer %}
            {{ d.volunteer.name }}
        {% else %}
            <span class="text-danger">Pending</span>
        {% endif %}
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}