{% extends "base.html" %}

{% block content %}

<h2>Your Donations</h2>

<table class="table table-striped">

<tr>
<th>Food</th>
<th>Quantity</th>
<th>Location</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for d in donations %}

<tr>
<td>{{ d.food_type }}</td>
<td>{{ d.quantity }}</td>
<td>{{ d.pickup_location }}</td>
<td>{{ d.status }}</td>

<td>
<a class="btn btn-warning btn-sm" href="/edit_donation/{{ d.id }}">Edit</a>
<a class="btn btn-danger btn-sm" href="/delete_donation/{{ d.id }}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}