{% extends "base.html" %}
{% block content %}

<div class="card p-4">

<h2>Edit Donation</h2>

<form method="POST">

<label>Food Type</label>
<input class="form-control" type="text" name="food_type" value="{{ donation.food_type }}" required>

<br>

<label>Quantity</label>
<input class="form-control" type="number" name="quantity" value="{{ donation.quantity }}" required>

<br>

<label>Pickup Location</label>
<input class="form-control" type="text" name="pickup_location" value="{{ donation.pickup_location }}" required>

<br>

<label>Expiry Date</label>
<input class="form-control" type="date" name="expiry_time" value="{{ donation.expiry_time }}" required>

<br>

<button class="btn btn-success">Update</button>

</form>

</div>

{% endblock %}