{% extends "base.html" %}

{% block content %}

<h2>Edit Donation</h2>

<form method="POST">

Food Type<br>
<input type="text" name="food_type" value="{{ donation.food_type }}"><br><br>

Quantity<br>
<input type="text" name="quantity" value="{{ donation.quantity }}"><br><br>

Pickup Location<br>
<input type="text" name="pickup_location" value="{{ donation.pickup_location }}"><br><br>

Expiry Time<br>
<input type="text" name="expiry_time" value="{{ donation.expiry_time }}"><br><br>

<button type="submit">Update Donation</button>

</form>

{% endblock %}