{% extends "base.html" %}
{% block content %}

<div class="card p-4">

<h2>Edit Profile</h2>

<form method="POST">

<label>Name</label>
<input class="form-control" type="text" name="name" value="{{ user.name }}" required>

<br>

<label>Email</label>
<input class="form-control" type="email" name="email" value="{{ user.email }}" required>

<br>

<label>Address</label>
<input class="form-control" type="text" name="address" value="{{ user.address }}" required>

<br>

<button class="btn btn-success">Update</button>

</form>

</div>

{% endblock %}
